
<div class="jumbotron">
<br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<h1>Store ALL your recipes in one place. </h1>
  <p>Get your recipes organized with Foodbox.</p>
  <p><a class="btn btn-primary btn-lg" href="/users/sign_up" <button type="button">Learn more</a></p>  
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

