
<div class="jumbotron">
<h1>Store ALL your recipes in one place. </h1>
  <p>Get your recipes organized with Foodbox.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
<img src="http://s28.postimg.org/gdlj474ul/pie.jpg" style="height: auto; width: 100%; ", class="img-responsive" />
  
</div>

